@import "variables/variables";

.App {
  text-align: center;
}


.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $maincolor;

  &__img {
    padding-top: 20px;
  }

  &__list {
    flex-direction: row;
    font-size: 17px;
    cursor: pointer;
  }

  &__login-active {
    padding-left: 15px;
    color: $activecolor;
  }

  &__login-active:active {
    color: black;
  }
}

/* Main */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Popup, Popup News */

.popup {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;


  &__content {
    background: $maincolor;
    padding: 40px;
    border-radius: 15px;
    height: 100px;
    width: 200px;
  }

  &__content-news {
    background: $maincolor;
    padding: 50px;
    border-radius: 15px;
    height: 250px;
    width: 500px;
  }

  &__content-title {
    margin-top: 40px;
    font-weight: bolder;
  }

  &__none {
    display: none;
  }

  &__title {
    font-family: Calibri;
    font-size: 20px;
    padding-bottom: 10px;
  }

  &__input {
    margin: 2px;
  }

  &__submit {
    border-radius: 5px;
    margin-top: 10px;
  }

  &__submit:active {
    background: $activecolor;
  }
}


/* News */

.news {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__widget {
    width: 35vw;
    background: $secondcolor;
    padding: 8px 16px;
    margin: 20px auto;
    border-radius: 15px;
  }

  &__widget-title {
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 17px;
    color: black;
  }
  &__widget-text {
    color: black;
  }
  &__widget-date {
    padding-top: 15px;
    margin-bottom: 5px;
    color: green;
  }
}

/* News Without Login */

.news-without-login{
  display: flex;
  color: $descriptiontext;
  margin-left: 10px;
  padding: 2px;
}

/* Search Input */

.search__input {
  padding: 15px;
  margin-top: 10px;
  margin-left: 5px;
  box-sizing: border-box;
  width: 49%;
  font-family: inherit;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: $secondcolor;
}

/* News Request */

.newsrequest {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;

  &__main-title {
    width: 100%;
  }
  &__title {
    font-size: 20px;
    width: 100%;
  }

  &__text {
    font-size: 20px;
    width: 100%;
  }

  &__date {
    font-size: 20px;
    width: 100%;
  }
  &__title-textarea {
    font-family: -apple-system;
    font-size: 17px;
    font-weight: bolder;
    padding: 15px;
    height: 60px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    resize: none;
  }

  &__text-textarea {
    font-family: -apple-system;
    font-size: 16px;
    padding: 15px;
    height: 120px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    resize: none;
  }

  &__date-textarea {
    font-family: -apple-system;
    font-size: 16px;
    color: green;
    padding: 15px;
    height: 60px;
    width: 30%;
    border-radius: 5px;
    outline: none;
    resize: none;
  }
  &__button {
    border-radius: 5px;
    padding: 10px;
    margin-top: 17px;
    background: darkkhaki;
    transition: 0.5s;
  }

  &__button:hover{
    margin-top: 17px;
    background: $activecolor;
  }

  &__button:active {
    margin-top: 17px;
    background: $activecolor;
  }
  &__done {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  &__done-title {
    color: $activecolor;
  }

  &__svg {
    width: 12%;
  }
}

/* Admin */

.admin-main{
  margin: 20px;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  &__widget {
    margin-bottom: 15px;
    padding: 8px 16px;
    border-radius: 15px;
    background: $secondcolor;
  }
  &__title {
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 17px;
    color: black;

  }
  &__text {
    color: black;
  }
  &__date {
    padding-top: 15px;
    margin-bottom: 5px;
    color: green;
  }
  &__button{
    display: flex;
    margin-top: 15px;

  }
  &__button-accept {
    border-radius: 5px;
    padding: 10px;
    width: 110px;
    height: 50px;
  }

  &__button-delete {
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 110px;
    height: 50px;
  }
  &__img-delete {
    margin-right: 15px;
    width: 40px;
  }
  &__img-delete:hover {
    cursor: pointer;
  }
  &__img-add {
    margin-left: 15px;
    width: 40px;
  }
  &__img-add:hover {
    cursor: pointer;
  }
}



