@import "variables/variables";

.App {
  text-align: center;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $colortest;
  &__inner {
    color: black;
  }
}